.active-link {
    color: mediumseagreen;
    font-weight: bold;
}

i {
    padding-top: 15px;
    padding-bottom: 0;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 5px;
}