<section class="bg-light p-5">
    <h1 class="fw-bold">Portfolio</h1>
    <div class="row ">
        <div class="col-4 mt-5">
            <div class="project text-light d-flex flex-column justify-content-center align-items-center">
                <h3>Web Design</h3>
                <hr class="w-75" style="border: 1px solid white; opacity: 1;">
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="project text-light d-flex flex-column justify-content-center align-items-center bg-dark">
                <h3>Web Design</h3>
                <hr class="w-75" style="border: 1px solid white; opacity: 1;">
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="project text-light d-flex flex-column justify-content-center align-items-center">
                <h3>Web Design</h3>
                <hr class="w-75" style="border: 1px solid white; opacity: 1;">
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="project text-light d-flex flex-column justify-content-center align-items-center bg-dark">
                <h3>Web Design</h3>
                <hr class="w-75" style="border: 1px solid white; opacity: 1;">
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="project text-light d-flex flex-column justify-content-center align-items-center">
                <h3>Web Design</h3>
                <hr class="w-75" style="border: 1px solid white; opacity: 1;">
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="project text-light d-flex flex-column justify-content-center align-items-center bg-dark">
                <h3>Web Design</h3>
                <hr class="w-75" style="border: 1px solid white; opacity: 1;">
            </div>
        </div>
    </div>
</section>