<h1 class="fw-bold mb-5">Cart</h1>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
        <h4 class="text-dark">Description</h4>
    </div>
    <div class="col-3">
        <h4 class="text-dark">Quantity</h4>
    </div>
    <div class="col-2">
        <h4 class="text-dark">Remove</h4>
    </div>
    <div class="col-1">
        <h4 class="text-dark">Price</h4>
    </div>
    <hr class="my-2">
</div>
@for (product of cartItems; track product.id) {
    <div class="row d-flex align-items-center" style="height: 300px;">
        <div class="col-2">
            <img [src]="product.thumbnail">
        </div>
        <div class="col-4 d-flex flex-column gap-1">
            <span class="text-dark fw-bold fs-5">{{ product.title }}</span>
            <span class="text-secondary fw-bold fs-5">Product Code: {{ product.id }}</span>
        </div>
        <div class="col-3 d-flex align-items-center">
            <button class="btn btn-success fs-4" style="height: 70px; width: 70px;" (click)="increaseQuantity(product)">+</button>
            <span class="fs-4 border" style="padding: 15px 30px;">{{ product.quantity }}</span>
            <button class="btn btn-light fs-4" style="height: 70px; width: 70px;" (click)="decreaseQuantity(product)">-</button>
    
        </div>
        <div class="col-2">
            <button class="btn btn-outline-dark fs-4" style="height: 70px; width: 70px;" (click)="removeProduct(product)">x</button>
        </div>
        <div class="col-1">
            <h4 class="text-dark">${{ product.price * product.quantity }}</h4>
        </div>
        <hr class="my-0">
    </div>
}
<div class="total-container">
    <span class="text-secondary fs-4">Total</span>
    <span class="text-dark fs-4">${{ getTotalPrice() }}</span>
</div>