<footer class="bg-black text-light pb-4 pt-3 d-flex justify-content-around align-items-center">
    <div>
        <h5 class="text-uppercase mb-3">Get in touch</h5>
        <div>
            <i class="fas fa-envelope"></i>
            <span>{{ "email@gmail.com" }}</span>
        </div>
        <div>
            <i class="fas fa-address-card"></i>
            <span>{{ "123-456-789" }}</span>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-light text-uppercase mt-4">Contact Me</button>
    </div>
    <div>
        <span class="d-flex gap-3">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
        </span>
        <span>Copyright 2024</span>
    </div>
</footer>