<section class="bg-dark p-5 text-white d-flex flex-column align-items-center gap-3">
    <h1>Skills</h1>
    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus neque magni soluta eos
        sapiente, in tempora laboriosam corrupti eius eaque sit, porro harum. Maiores culpa quod officiis reiciendis
        tenetur incidunt similique enim nihil, magni inventore animi dolorum nesciunt itaque eveniet veritatis in odio!
        Fugiat magnam dignissimos molestias nesciunt illum veniam.</p>
    <div class="d-flex justify-content-center gap-5 w-100">
        <div class="d-flex flex-column justify-content-center align-items-center w-50">
            <h4>My Focus</h4>
            <hr class="bg-light w-50">
            <h4>Back-End Developer</h4>
            <h4>Front-End Developer</h4>
            <h4>Software Developer</h4>
            <h4>Open Source Software</h4>
        </div>
        <div class="w-50">
            <div class="progress m-4" role="progressbar" aria-label="Example 1px high" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100" style="height: 30px">
                <div class="progress-bar text-bg-secondary" style="width: 90%"></div>
            </div>
            <div class="progress m-4" role="progressbar" aria-label="Example 1px high" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100" style="height: 30px">
                <div class="progress-bar text-bg-secondary" style="width: 90%"></div>
            </div>
            <div class="progress m-4" role="progressbar" aria-label="Example 1px high" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100" style="height: 30px">
                <div class="progress-bar text-bg-secondary" style="width: 90%"></div>
            </div>
            <div class="progress m-4" role="progressbar" aria-label="Example 1px high" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100" style="height: 30px">
                <div class="progress-bar text-bg-secondary" style="width: 90%"></div>
            </div>
            <div class="progress m-4" role="progressbar" aria-label="Example 1px high" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100" style="height: 30px">
                <div class="progress-bar text-bg-secondary" style="width: 90%"></div>
            </div>
            <div class="progress m-4" role="progressbar" aria-label="Example 1px high" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100" style="height: 30px">
                <div class="progress-bar text-bg-secondary" style="width: 90%"></div>
            </div>
        </div>
    </div>
</section>