<div class="row">
    <div class="col">
        <img [src]="productItem.thumbnail" alt="product image">
    </div>
    <div class="col">
        <h1 class="fw-bold">{{ productItem.title }}</h1>
        <p class="text-secondary">{{ productItem.description }}</p>
        <!-- Bonus -->
        @for (star of getStars(productItem.rating); track $index) {
        <i class="fa fa-star"></i>
        }

        <h2 class="my-5 fw-bold">${{ productItem.price }}</h2>

        @if(productItem.stock > 0) {
        <span class="badge text-bg-success">In Stock</span>
        } @else {
        <span class="badge text-bg-danger">Out of Stock</span>
        }
        <p class="text-secondary mt-4 mb-2">More information</p>
        <div class="d-flex gap-3">
            <button class="btn btn-light">{{productItem.category}}</button>
            <button class="btn btn-light">{{productItem.brand}}</button>
        </div>

        <div class="d-flex gap-3">
            <button class="btn btn-success my-5 main-btn">Buy Now</button>
            <button class="btn btn-outline-dark my-5 main-btn" (click)="addToCart()">Add to Cart</button>
        </div>
    </div>
</div>